<mat-card>
    <mat-card-title>Alterar Veículo</mat-card-title>
    <form>
       <mat-form-field>
          <input matInput placeholder="Modelo" 
          [(ngModel)]="product.modelo" name="modelo">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Marca" 
          [(ngModel)]="product.marca" name="marca">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Ano" 
          [(ngModel)]="product.ano" name="ano">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Placa" 
          [(ngModel)]="product.placa" name="placa">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Renavam" 
          [(ngModel)]="product.renavam" name="renavam">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Chasi" 
          [(ngModel)]="product.chasi" name="chasi">
       </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="accent">
       Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
       Cancelar
    </button>
   
 </mat-card>
 
 
 
 
 