<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
      <td mat-cell *matCellDef="let row">{{row.modelo}}</td>
    </ng-container>

    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
      <td mat-cell *matCellDef="let row">{{row.ano}}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
      <td mat-cell *matCellDef="let row">{{row.marca}}</td>
    </ng-container>

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
      <td mat-cell *matCellDef="let row">{{row.placa}}</td>
    </ng-container>

    <ng-container matColumnDef="renavam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Renavam</th>
      <td mat-cell *matCellDef="let row">{{row.renavam}}</td>
    </ng-container>

    <ng-container matColumnDef="chasi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Chasi</th>
      <td mat-cell *matCellDef="let row">{{row.chasi}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 50]">
  </mat-paginator>
</div>
